.SideDrawer {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 150px;
    height: 0px;
    /* padding: 10px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s;
    z-index: 999;
}

.SideDrawer button{
    margin: 10px;
}

.Show{
    height: 150px;
}

@media (min-width:750px) {
    .SideDrawer {
        display: none;
    }
}