.Logo{
    height: 100%;
    width: 10%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Image{
    height: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.Text{
    display: none;
}

@media (min-width:750px){
    .Logo{
        width: 195px;
    }
    .Text{
        display: block;
        font-size: 1.5rem;
        color: white;
    }

}